## create

In [49]:
import pandas as pd

data = pd.Series([5, 7, 5, 1, 6], 
                 name='num_dropped')
data

0    5
1    7
2    5
3    1
4    6
Name: num_dropped, dtype: int64

In [24]:
data.name

'num_dropped'

In [25]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
data.values

array([5, 7, 5, 1, 6], dtype=int64)

In [27]:
# get values

for v in data:
    print(v)

5
7
5
1
6

In [28]:
print(data[0])
print(data[1])
print(data[2])
print(data[3])
print(data[4])

5
7
5
1
6

In [30]:
print(data.loc[0])
print(data.loc[1])
print(data.loc[2])
print(data.loc[3])
print(data.loc[4])

5
7
5
1
6

In [33]:
result = data.loc[2:3]

2    5
3    1
Name: num_dropped, dtype: int64

In [36]:
result = data[data>5]
result

1    7
4    6
Name: num_dropped, dtype: int64

In [37]:
result = data[data.between(3, 6)]
result

0    5
2    5
4    6
Name: num_dropped, dtype: int64

In [39]:
data[2:3]

2    5
Name: num_dropped, dtype: int64

## Drop rows

In [40]:
data.drop(2)

0    5
1    7
3    1
4    6
Name: num_dropped, dtype: int64

In [43]:
data.drop([2, 4])

0    5
1    7
3    1
Name: num_dropped, dtype: int64

## Insert rows

In [44]:
data

0    5
1    7
2    5
3    1
4    6
Name: num_dropped, dtype: int64

In [45]:
data[2.5] = 9
data

0.0    5
1.0    7
2.0    5
3.0    1
4.0    6
2.5    9
Name: num_dropped, dtype: int64

In [46]:
data.sort_index(inplace=True)
data

0.0    5
1.0    7
2.0    5
2.5    9
3.0    1
4.0    6
Name: num_dropped, dtype: int64

In [47]:
data.reset_index(drop=True)

0    5
1    7
2    5
3    9
4    1
5    6
Name: num_dropped, dtype: int64

In [ ]:
# duplicated

In [3]:
data.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [4]:
data.drop_duplicates()

0    5
1    7
3    1
4    6
dtype: int64

In [5]:
data.value_counts()

5    2
7    1
1    1
6    1
dtype: int64

## Common functions

In [58]:
data

0    5
1    7
2    5
3    1
4    6
Name: num_dropped, dtype: int64

In [51]:
data.min()

1

In [52]:
data.max()

7

In [53]:
data.sum()

24

In [54]:
data.mean()

4.8

In [55]:
data.std()

2.280350850198276

In [56]:
data.var()

5.2

In [59]:
data.idxmax()

1

In [60]:
data.argmax()

1

## Strings

In [6]:
import pandas as pd
import numpy as np

data = pd.Series(['C++', 'Golang', 'Java', 'Python', 'Swift'])
data

0       C++
1    Golang
2      Java
3    Python
4     Swift
dtype: object

In [8]:
data.str.count('Java')

0    0
1    0
2    1
3    0
4    0
dtype: int64

In [9]:
data.str.upper()

0       C++
1    GOLANG
2      JAVA
3    PYTHON
4     SWIFT
dtype: object

In [10]:
data.replace('Java', 'C#')

0       C++
1    Golang
2        C#
3    Python
4     Swift
dtype: object

## Group by

In [62]:
import pandas as pd
import numpy as np

data = pd.Series([4, 1, 0, 2, 2, 1], 
                 index=list(['C++', 'Golang', 'Java', 'Python', 'Swift', 'C#']), 
                 name='num_dropped')
data

C++       4
Golang    1
Java      0
Python    2
Swift     2
C#        1
Name: num_dropped, dtype: int64

In [66]:
import pandas as pd
import numpy as np

data = pd.Series([4, 1, 0, 2, 2, 1], 
                 index=list(['C++', 'Golang', 'Java', 'Golang', 'Java', 'C++']), 
                 name='num_dropped')
data

C++       4
Golang    1
Java      0
Golang    2
Java      2
C++       1
Name: num_dropped, dtype: int64

In [71]:
data['C++']

C++    4
C++    1
Name: num_dropped, dtype: int64

In [73]:
data['Golang']

Golang    1
Golang    2
Name: num_dropped, dtype: int64

In [74]:
data['Java']

Java    0
Java    2
Name: num_dropped, dtype: int64

In [75]:
print(data['C++'].sum())
print(data['Golang'].sum())
print(data['Java'].sum())

5
3
2

In [76]:
data.groupby(level=0).sum()

C++       5
Golang    3
Java      2
Name: num_dropped, dtype: int64

In [80]:
data.groupby(data>3).sum()

num_dropped
False    6
True     4
Name: num_dropped, dtype: int64

In [84]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, 
                                  names=('Animal', 'Type'))
ser = pd.Series([390., 350., 30., 20.], 
                index=index, 
                name="Max Speed")
ser

Animal  Type
Falcon  Captive    390.0
        Wild       350.0
Parrot  Captive     30.0
        Wild        20.0
Name: Max Speed, dtype: float64

In [89]:
ser.groupby(level=0).sum()

Animal
Falcon    740.0
Parrot     50.0
Name: Max Speed, dtype: float64

In [83]:
ser.groupby(level="Type").mean()

Type
Captive    210.0
Wild       185.0
Name: Max Speed, dtype: float64

In [90]:
ser.groupby(level=1).sum()

Type
Captive    420.0
Wild       370.0
Name: Max Speed, dtype: float64

In [88]:
ser.index

MultiIndex([('Falcon', 'Captive'),
            ('Falcon',    'Wild'),
            ('Parrot', 'Captive'),
            ('Parrot',    'Wild')],
           names=['Animal', 'Type'])