In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('weatherHistory_simple.csv')
df.describe()

       Temperature (C)
count        10.000000
mean          6.250000
std           7.638099
min          -2.100000
25%          -0.925000
50%           6.350000
75%          13.525000
max          14.700000

In [6]:
df

  Precip Type  Temperature (C)
0        rain             12.2
1        rain             13.8
2        rain             14.7
3        rain             13.8
4        rain             12.7
5        rain              0.5
6        snow             -0.4
7        snow             -1.1
8        snow             -1.6
9        snow             -2.1

In [7]:
df['Fahrenheit'] = df['Temperature (C)']*9/5.0 + 32
df

  Precip Type  Temperature (C)  Fahrenheit
0        rain             12.2       53.96
1        rain             13.8       56.84
2        rain             14.7       58.46
3        rain             13.8       56.84
4        rain             12.7       54.86
5        rain              0.5       32.90
6        snow             -0.4       31.28
7        snow             -1.1       30.02
8        snow             -1.6       29.12
9        snow             -2.1       28.22

## groupby

In [7]:
df.groupby('Precip Type').mean('Temperature (C)')

             Temperature (C)
Precip Type
rain                8.972222
snow               -2.038889

In [8]:
df

  Precip Type  Temperature (C)  Fahrenheit
0        rain             12.2       53.96
1        rain             13.8       56.84
2        rain             14.7       58.46
3        rain             13.8       56.84
4        rain             12.7       54.86
5        rain              0.5       32.90
6        snow             -0.4       31.28
7        snow             -1.1       30.02
8        snow             -1.6       29.12
9        snow             -2.1       28.22

In [9]:
df.Fahrenheit

0    53.96
1    56.84
2    58.46
3    56.84
4    54.86
5    32.90
6    31.28
7    30.02
8    29.12
9    28.22
Name: Fahrenheit, dtype: float64